$selectedFilterBackColor: green;
@mixin headerTitle {
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid lightgrey;
}

@mixin filterButton {
    background-color: lightgreen;
    padding: 4px;
    border-radius: 3px;
    margin: 9px;
    margin: 9px;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.filterHeader{
  font-size: 18px;
  font-weight: 500;
}
.filterFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .launchYearContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // width: 82px;
      .header{
        @include headerTitle
      }
      .yearList{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 102%;
        .launchYear{
          @include filterButton
        }
        .selectedYear{
          background-color:$selectedFilterBackColor;
        }
      }
    }
    .successLaunch,.successLand{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 15px 0px;
      .header{
        @include headerTitle;
      }
      .successLaunchList,.successLandList{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        .successful{
          @include filterButton
        }
        .selected-successfulLanding, .selected-successfulLaunch {
          background-color:$selectedFilterBackColor;
        }
      }
    }
}