@import './Filter/filter.scss';
@import './Program/program.scss';


.programContainer{
  height: inherit;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: 700px) {//Mobile view on
    // display: flex;
  }
  .programHeader{
    font-size: 24px;
    word-break: break-word;
    margin: 10px 0px;
  }
  .programFilterContent{
    display: flex;
    height: 90%;
    @media only screen and (max-width: 700px) {//Mobile view on
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
      min-width: 50%;
    }
    .filter{
      background-color: white;
      border-radius: 4px;
      padding: 13px;
      width: 150px;
      height: 580px;
    }
    .programContent{
      width: 100%;
      @media only screen and (max-width: 700px) {//Mobile view on
        overflow-x: unset;
        overflow-y: unset;
        height: unset;
      }
      @media only screen and (min-width: 700px) {//Mobile view off
        overflow-x: hidden;
        overflow-y: auto;
        // height: calc(100% - 64px);
        height: 100%;
      }
      @media only screen and (min-width: 701px) and (max-width: 1024px) {//Mobile view off
        width: 70%;
      }
      @media only screen and (min-width: 1025px) and (max-width: 1440px) {//Mobile view off
        width: 84%;
      }
      .programs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media only screen and (max-width: 700px) {//Mobile view on
          justify-content: center;
          margin-top: 20px;
        }
      }
    }
  }
  .author{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84px;
    font-size: 12px;
    @media only screen and (min-width: 700px) {//Mobile view off
      flex-direction: row;
    }
    .authorTitle{
      font-size: 14px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}