@mixin titleValue {
  font-size: 14px;
  color: darkgrey;
}
.cardContainer{
  width: 200px;
  height: 350px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 20px 20px;
  .header{
    img{
      // width: 172px;
      height: 145px;
      object-fit: contain;
      background-color: lightgrey;
    }
  }
  .footer{
    width: 85%;
    .nameNumber{
      margin-bottom: 20px;
      font-size: 14px;
      color: cornflowerblue;
    }
    .missionIds{
      margin-bottom: 4px;
      ul{
        .titleValue{
          @include titleValue
        }
      }
    }
    .title{
      margin-bottom: 4px;
      .titleValue{
        @include titleValue
      }
    }

  }
}