html{
    background-color: lightgray;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}
body, #root{
    height: inherit;
}
ul{
    margin: 2px;
    padding-inline-start: 20px;
}

@import 'src/screens/Programs/programs.scss'
